*,
*::after,
*::before {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
  position: relative;
}

.text {
  font-size: 6rem;
  color: transparent;
  text-transform: uppercase;
  word-spacing: 1rem;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.circle-inner {
  border: 1px solid white;
  background-color: white;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  transition: all 100ms ease-out;
}

.circle-outer {
  border: 1px solid white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  transition: all 300ms ease-out;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.2;
  filter: blur(10px);
}
