*,
*::after,
*::before {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

.text {
  font-size: 6rem;
  color: transparent;
  text-transform: uppercase;
  word-spacing: 1rem;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px white;
  background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.3) 17.7%, rgba(255, 206, 134, 0.3) 64.7%, rgba(172, 253, 163, 0.3) 112.1%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
